@model IEnumerable<Labb_Bilar_1._0.Models.Bil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Årsmodell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motortyp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tillverkare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modell)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Årsmodell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motortyp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tillverkare.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modell)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
